h1{
    margin-bottom: 30px;
    color:royalblue;
    text-decoration: underline;
}
input{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    border:solid;
    font-weight: bold;
}
button{
    margin-bottom: 20px;
    background-color: pink;
    font-weight: bold;
}
hr{
    margin-bottom: 20px;
    }
    body{
        background-color:lightpink;
    }